body {
  line-height: 1;
  font-family: sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.banner {
  width: 100%;
  min-height: 100vh;
  background-image: url(images/zebra\ banner\ 2\ 1\ \(1\).png);
  background-position: center;
  background-size: cover;
}
.banner .fs-4 {
  color: orangered;
}
.banner .display-4 {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.nav {
  padding-right: 100px;
}
.nav .nav-link {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.nav .navbar-nav {
  gap: 20px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  height: 70px;
}
.menu.active {
  display: block;
}
.menu li {
  margin: 10px 0;
  background-color: white;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
}
.header h1 {
  font-size: 300px;
  margin-top: 140px;
}
.header #in {
  font-size: 200px;
}

.active {
  min-height: 600px;
}
.active .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.active .container .activities {
  font-size: 30px;
  padding-top: 70px;
  width: 100%;
  text-align: center;
}

.card-group {
  padding-top: 40px;
  gap: 10px;
}
.card-group .card {
  position: relative;
}
.card-group .card .card-title {
  display: flex;
  margin-top: 250px;
}
.card-group .card .card-body {
  position: absolute;
  top: 100px;
  transition: all 0.2s ease-in;
}
.card-group .card .card-body .card-text {
  opacity: 0;
  visibility: hidden;
}
.card-group .card:hover .card-body {
  top: -130px;
}
.card-group .card:hover .card-body .card-text {
  opacity: 1;
  visibility: visible;
}
.card-group .col {
  padding: 5px;
}

#testimonials {
  min-height: 50vh;
  gap: 20px;
}
#testimonials .container h2 {
  font-size: 40px;
  padding-top: 50px;
}
#testimonials .container .row {
  padding-top: 50px;
}
#testimonials .container .col-md-3 {
  min-height: 400px;
  position: relative;
}
#testimonials .container .col-md-3 .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(167, 95, 69, 0.479);
}
#testimonials .container .col-md-5 {
  min-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#testimonials .container .col-md-5 span {
  min-height: 3px;
  width: 100px;
  background-color: red;
}

.gallery {
  min-height: 800px;
}
.gallery .container {
  padding-top: 40px;
}
.gallery .container h4 {
  font-size: 36px;
  margin-top: 80px;
}
.gallery .container img {
  height: 40vh;
  padding-top: 25px;
}

.story {
  min-height: 600px;
  width: 100%;
}
.story .container .paragraph,
.story .container .para {
  font-size: 16px;
  padding-top: 10px;
}
.story .container h2 {
  font-size: 36px;
  margin-top: 50px;
}
.story .container .sign {
  margin-top: 35px;
  width: 30%;
  height: 45px;
}
.story .col-md-2 img {
  min-height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.story .col-md-2 img .lion {
  padding-top: 40px;
}

.iteneries {
  min-height: 500px;
  width: 100%;
}
.iteneries .container h1 {
  font-size: 36px;
}
.iteneries .container .row {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}
.iteneries .container .row .col-md-6 .para {
  width: 50%;
}
.iteneries .container .row .col-md-6 .para .par {
  background-color: orangered;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.iteneries .container ul li {
  margin-top: 10px;
}

.wildlife {
  min-height: 800px;
  width: 100%;
  padding-top: 50px;
}
.wildlife .container h2 {
  font-size: 36px;
  padding-top: 30px;
}
.wildlife .container p {
  font-size: 16px;
  padding-top: 20px;
}
.wildlife .container .row {
  padding-top: 40px;
}
.wildlife .container .row .col-md-6 {
  padding-top: 100px;
}

.footer .container-fluid .row {
  font-size: 17px;
}
.footer .container-fluid .row h5 {
  padding-top: 15px;
  font-size: 18px;
}
.footer .container-fluid .row ul li {
  padding-top: 10px;
}

@media (max-width: 568px) {
  .banner {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/zebra\ banner\ 2\ 1\ \(1\).png);
    background-position: center;
    background-size: cover;
  }
  .banner .fs-4 {
    color: orangered;
    padding-right: 80px;
  }
  .banner .nav {
    padding-right: 30px;
  }
  .banner .nav .nav-link {
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 10px;
  }
  .banner .hamburger {
    display: inline-block;
    cursor: pointer;
  }
  .banner .display-4 {
    font-size: 50px;
  }
  .header {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 90px;
  }
  .header h1 {
    font-size: 36px;
    padding-right: 60px;
  }
  .card-img1 {
    height: 50%;
    gap: 20px;
    padding-top: 20px;
  }
  .paragraph {
    text-align: start;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .col-md-2 img {
    margin-bottom: 15px;
  }
  .lion {
    margin-top: 0 !important;
    width: 100%;
    height: 50px;
    margin: 0 auto 15px auto;
    display: block;
  }
  .table {
    height: 60%;
  }
  .rows {
    height: 80%;
  }
  .rowss {
    margin-top: 30px;
    height: 95%;
  }
  .elegant {
    height: 50%;
  }
  .rowsss {
    height: 70%;
  }
  .card-img {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding-top: 20px;
  }
  .active {
    min-height: 600px;
  }
  .active .container {
    min-height: 600px;
    justify-items: center;
    width: 100%;
  }
  .active .container .activities {
    font-size: 30px;
    padding-top: 220px;
  }
}/*# sourceMappingURL=style.css.map */